{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set title = 'All notes by date' %}
{% set url = SITEURL + '/' + 'archive/' %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(DESCRIPTION) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ meta.open_graph(title, url, DESCRIPTION) }}
{% endblock social_meta %}

{% block title %}{{ title }} | {{ SITENAME }}{% endblock title %}

{% block content %}
        <h1 class="date-title">{{ title }}</h1>

{% set first = true %}
{% for article in articles | sort(attribute='modified', reverse=True)  %}
    {% set article_year = article.date | strftime('%Y') %}
    {% if article_year != next_year %}
        {% if first == false %}
            </tbody>
        </table>
        {% endif %}
        <h2>{{ article_year }}</h2>
        <table class="pure-table pure-table-horizontal pure-table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 25%;">Modified</th>
                    <th style="width: 45%;">Title</th>
                    <th style="width: 30%;">Project</th>
                </tr>
            </thead>
            <tbody>
    {% endif %}
    {% set first = false %}
                <tr>
                    <td>{{ article.modified | strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href='/{{ article.url }}'>{{ article.title }}</a></td>
                    <td><a href='/{{ article.category.url }}'>{{ article.category }}</a></td>
                </tr>
    {% set next_year = article_year %}
{% endfor %}
            </tbody>
        </table>
{% endblock %}
