{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set title = category | striptags | escape %}
{% set url = SITEURL + '/' + category.url %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(DESCRIPTION) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ meta.open_graph(title, url, DESCRIPTION) }}
{% endblock social_meta %}

{% block title %}{{ title }} | {{ SITENAME }}{% endblock title %}

{% block content %}
        <h1 class="project-title">{{ title }} <small>{{ category.stage }}</small></h1>

        {{ category.description }}

        <table class="pure-table pure-table-horizontal pure-table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 30%;">Modified</th>
                    <th style="width: 70%;">Title</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles | sort(reverse=True, attribute='modified') %}
                <tr>
                    <td>{{ article.modified | strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
