{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set title = 'All projects' %}
{% set url = SITEURL + '/' + 'project/' %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(DESCRIPTION) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ meta.open_graph(title, url, DESCRIPTION) }}
{% endblock social_meta %}

{% block title %}{{ title }} | {{ SITENAME }}{% endblock title %}

{% block content %}
        <h1 class="project-title">{{ title }}</h1>

        <ul>
        {% for category, articles in categories %}
            <li class="project-li"><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> <small>{{ category.stage }}</small></li>
        {% endfor %}
        </ul>
{% endblock %}
