       <ul>
            <li>Copyright &copy; 2016 <a href="https://www.andrewheiss.com">Andrew Heiss</a></li>
            <li>
                <span class="cc-wrapper">
                    <i class="cc cc-cc"></i>
                    <i class="cc cc-by" title="Attribution"></i>
                    <i class="cc cc-share" title="Share alike"></i>
                </span>
            </li>
            <li>Licensed CC BY-SA <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Attribution-ShareAlike 4.0 International license">4.0</a></li>
            <li><a href="{{ GITHUB_URL }}">GitHub repository</a></li>
       </ul>
