{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set title = 'All notes by tag' %}
{% set url = SITEURL + '/' + 'tags/' %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(DESCRIPTION) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ meta.open_graph(title, url, DESCRIPTION) }}
{% endblock social_meta %}

{% block title %}{{ title }} | {{ SITENAME }}{% endblock title %}

{% block content %}
        <h1 class="tag-title">{{ title }}</h1>

        <ul class="list note-tags">
        {% for tag, articles in tags | sort %}
            {% set num = articles | count %}
            <li>
                <a href="#{{ tag | lower | replace(' ', '-') }}">{{ tag }} <span class="count">({{ num }})</span></a>
            </li>
        {% endfor %}
        </ul>

{% set first = true %}
{% for tag, articles in tags | sort %}
    {% set current_tag = tag %}
    {% if current_tag != next_tag %}
        {% if first == false %}
            </tbody>
        </table>
        {% endif %}
        <h2 id="{{ current_tag | lower | replace(' ', '-') }}">
            <a href="/{{ current_tag.url }}" rel="tag">{{ current_tag }}</a> <a href="#" class="back-to-top">&#8617;</a>
        </h2>
        <table class="pure-table pure-table-horizontal pure-table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 25%;">Modified</th>
                    <th style="width: 45%;">Title</th>
                    <th style="width: 30%;">Project</th>
                </tr>
            </thead>
            <tbody>
    {%- endif %}
    {% set first = false %}
    {% for article in articles %}
                <tr>
                    <td>{{ article.modified | strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href='/{{ article.url }}'>{{ article.title }}</a></td>
                    <td><a href='/{{ article.category.url }}'>{{ article.category }}</a></td>
                </tr>
    {% endfor %}
    {% set next_tag = current_tag %}
{% endfor %}
            </tbody>
        </table>
{% endblock %}
